:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
  }

* {  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

body {
    background-color:lightgrey;
    font-family:"Roboto", sans-serif;
    font-size:12px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 12px;
}

/*====== header ======*/

header{
    background-color: #EAC926;
}

.top-header-p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {    
    width: 45%; 
    padding: 0 20px
}
.search{
    width: 50%; 
    height: 20px; 
     display: flex;
     justify-content: center;
     align-items: center;
   
}
.fa-search{
   padding: 5px;
    
}
.buscador{
    border-style: none;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    width: 40vw;
    
}

.label-buscador{
    border-style: none;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.top-header-p p{
    margin: 20px 0 0;
    width: 100%;
}

.cuotas{
    text-align: center;
    font-size: 12px;
}

header nav{
    font-size: 12px;
}
header ul li{
    list-style-type: none;
}
header ul li a {
    text-decoration: none;
    color: #000;
}





div.burger-menu{
    padding-bottom: 12px;
    text-align: center;
    
    
}
div.burger-menu i{


    color: #ebebeb;
    background-color: #1259C3;
    padding: 7px;
    margin: auto;
    border-radius: 4px;
    font-size: 18px;
    
}

.banner img {
    width: 100%;
   
}
/*====== main ======*/

main {
    margin: 0 auto;
    width: 90%;
   
}
main section article {
    background-color: #fff;
    margin: 10px 0px;
}
main section article img{
    width:100%;

}
main section article i, .verde
{
color:#39b54a;
}
main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px;
}

main section h2{
    margin: 20px 0px;

}
.descripcion {
   position:relative;
   width: 100%;
   border-top: 1px solid #ebebeb;
   padding: 15px;
   
}

main section article .valor{
 display:flex;
 flex-direction: row;
}
main section article .precio, .verde{
padding: 2%;
margin-right: 3%;

}
.precio{
    font-size: 18px;
   
}
.verde{
    font-size: 16px;
    
}

.nav-links {
    display: none;
}








/*====== Footer ======*/


.main-footer {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: 80px;
    
    
    
  }
  
  .footer-data {
    text-align: center;
  }
  
  .footer-data i {
    color: var(--light-blue);
    font-size: 2em;
    padding: 10px 0;
    transition: 0.5s;
}
.footer-data:hover i{
 color:#39b54a;
}
  
  .footer-data h3 {
    color: black;
    font-size: 1.5em;
    font-weight: 400;
  }
  
  .footer-data p {
    color: var(--gray);
    font-size: 1em;
    font-weight: 300;
  }
  
  .sub-footer {
    border-top: 1px solid var(--light-gray);
    background-color: #ffffff;
  }
  
  .sub-footer p{
    margin: 0;
    color: var(--gray);
    padding: 15px 0;
    text-align: center;
  }

  /*====== register ======*/
.nav-register{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.nav-register h3{
    margin-top: 5px;
    padding: 5px;
}
.form-group{
    text-align: center;    
    padding: 8px;
    width: 100%;
}

.perfil{
    font-size: 15px;
    
    font-family: 'Segoe UI', sans-serif;
    border-radius: 20px;

}

.checkbox{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    
}
/* From uiverse.io by @Maximinodotpy */

.fecha{
    font-family: 'Segoe UI', sans-serif;
    margin: 1em auto 1em;
    max-width: 236px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.fecha input{
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #2d7f83;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
.fecha label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -144px;
    text-align: center;
    

}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em auto 1em;
    max-width: 237px;
    position: relative;
   
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #2d7f83;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

.home-button{
    width: 100px;
    padding: 5px;
    border-style: none;
    border: 2px solid #03264C;
    background-color: transparent;
    border-radius: 20px;
}
.submit{    
    width: 100px;
    padding: 5px;
    background-color:dodgerblue;
    border-style: none;
    border-radius: 20px;
    
}
.submit-login{
    width: 100px;
    padding: 5px;
    background-color:dodgerblue;
    border-style: none;
    border-radius: 20px;
    margin-left: 30%;
}
/*====== login ======*/



@media (min-width: 650px){

    .cuotas{
        font-size: 15px;
    }
   

    main section article{
       
        width: 40%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    main section article img{
        width:100%;
        
    }
    .products{
        
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 

    div.burger-menu{
        display: none;
    }
    .nav-links{
        display: flex;
        justify-content: space-between ;
        
    }
    .nav-links ul{
        display: flex;
        
    }
    .nav-links li {
        margin: 0 5px;
        max-width: none;
    }
    .nav-links a{
        font-size: 15px;
    }
    .nav-links i {
        width: 10%;
    }
    
    .descripcion {
        width: 100%;
        border-top: 1px solid #ebebeb;
        padding: 25px;
        
     }
  /*====== register ======*/



.perfil{
    font-size: 20px;   
    font-family: 'Segoe UI', sans-serif;
    border-radius: 20px;

}

/* From uiverse.io by @Maximinodotpy */


.home-button{
    width: 100px;
    padding: 5px;
    border-style: none;
    border: 2px solid #03264C;
    background-color: transparent;
    border-radius: 20px;
}
.submit{    
    width: 100px;
    padding: 5px;
    background-color:dodgerblue;
    border-style: none;
    border-radius: 20px;
    
}
.submit-login{
    width: 100px;
    padding: 5px;
    background-color:dodgerblue;
    border-style: none;
    border-radius: 20px;
    margin-left: 30%;
}
}
@media (min-width: 769px){
    .logo{
        width: 30%;
    }
    .search{
        width: 30%;
    }
    .label-buscador{
        width: 100%;
    }
    
    .top-header-p p{
        margin: 0;
        width: 30%;
        font-size: 16px;
    }
    
    .cuotas{
       text-align: center;
    }
    

    main section article i {
        transition: transform 0.5s;
    }
    main section article:hover i{
        transform: rotate(-90deg)

    }
    main section article .nombre{
        display: block;
        visibility: hidden;
    }
    
    main section article:hover .nombre{
        visibility:visible;
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    /* .top-header, */
    .nav-links{ 
        max-width: 1200px;
        margin: auto;
        margin-top: 1%;
    }

    .nav-links{
        display: flex;
        justify-content: space-between ;
    }
   
    .nav-links li {
        margin: 0 10px;
    }
    .nav-links a{
        font-size: 16px;
    }
    .nav-links i {
        width: 10%;
    }
    
    main section article{
  
        width: 20%;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    main section article img{
        width:100%;
        
    }
    .products{
        
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
   

    .main-footer {
        padding: 40px 0;
    }
    
    .footer-data {
        width: 95%;
        margin: auto;
    }


    .footer-data i {
        color: var(--light-blue);
        font-size: 2.5em;
    }
      
    .footer-data h2 {
        color: var(--gray);
        font-size: 2em;
        font-weight: 400;
    }
      
    .footer-data p {
        color: var(--gray);
        font-size: 1.2em;
        font-weight: 300;
    }
}